body {
  margin: 15px;
  margin-left: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h4 {
  margin-left: 50px;
}

#image img {
  width: 40%;
  float: left;
  margin-left: 50px;
}

#content {
  width: 25%;
  float: right;
  margin-top: 120px;
  margin-right: 200px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#content h2 {
  margin: 0px;
  font-size: 40px;
  word-spacing: 12px;
}

#content p {
  font-size: 18px;
  word-spacing: 8px;
  margin-top: 35px;
  margin-bottom: 35px;
}

#content button {
  width: 172px;
  height: 45px;
  font-size: 10px;
  background-color: #333333;
  color: white;
}

.clearfix {
  clear: both;
}

#footer footer {
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 700px) {
  body {
    margin-left: 0px;
  }

  #image img {
    width: 80%;
    float: left;
  }

  #content {
    width: 50%;
    float: right;
    margin-top: 120px;
    margin-right: 200px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

@media (max-width: 400px) {
  body {
    margin-left: 0px;
  }

  #image img {
    width: 80%;
  }

  #content {
    width: 70%;
    margin-top: 60px;
    margin-right: 50px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
