@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono:wght@400;700&display=swap");

body {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  margin: 0;
}
header {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  padding: 1em 1.25em;
}
header h1 {
  font-size: 1.25em;
  line-height: 1em;
  letter-spacing: -0.08em;
}
main {
  padding: 3em 1.25em;
}
footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.75em;
  text-align: center;
  padding: 3em 1.25em;
}

.main-container {
  max-width: 350px;
  margin: 0 auto;
}

.notfound__image {
  width: 100%;
}
.notfound__title {
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.035em;
}
.notfound__message {
  line-height: 1.5em;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin: 1.5em 0 3.5em 0;
}
.notfound__home-link {
  font-weight: bold;
  font-size: 0.75em;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: white;
  background-color: #333333;
  width: 16em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 1440px) {
  header {
    padding: 2.25em 4.25em;
  }
  .main-container {
    display: flex;
    max-width: 1240px;
  }
  .notfound__title {
    font-size: 3.5em;
  }
  .notfound__message {
    font-size: 1.5em;
    margin: 1.5em 0 2.5em 0;
    width: 70%;
  }
}
