@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono:wght@400;700&display=swap");

body {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  margin: 0;
}
header {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 12px;
  padding: 20px 24px;
}
main {
  padding: 54px 24px;
}
footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding: 42px 24px;
}

.notfound__image {
  width: 100%;
}
.notfound__title {
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;
  margin-right: -24px;
}
.notfound__message {
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin: 29px 0 67px 0;
}
.notfound__home-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: white;
  background-color: #333333;
  width: 216px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 1440px) {
}
