@require('master.styl')
.row
    display: grid
    grid: 1fr / 1fr 1fr 1fr 1fr
    justify-items: center    
    grid-column: 2
    border-radius: 1em
    box-shadow: 0px 2.5px 15px -5px rgba(0,0,0,0.75)
    background-color: white
    padding: 20px
    div
        width: 100%
        p
            color: hsl(0, 0%, 59%)
        h3
            color: hsl(0, 0%, 17%)
        p, h3
            margin: 10px 20px

.container
    display: grid
    grid: 1fr / 10% 80% 10%
    position: absolute
    z-index: 1000
    transform: translate(0, -50%)
    width: 100%
    min-height: 75px
    transition: 1s ease-in

.collapse
    height: 25%
.collapse-item
    display: none

.divider
    border-right: 1px solid hsl(0, 0%, 59%)

@media only screen and (max-width: sm)
    .row
        grid: 1fr 1fr 1fr 1fr / 1fr
        padding: 0
        text-align: center
        width: 100%
    .divider 
        border-right: none
    .container
        transform: none
        grid: 1fr / 5% 90% 5%
        top: 200px