// Breakpoints 
xs = 575px // Extra small devices (portrait phones, less than 576px)
sm = 576px // Small devices (landscape phones, 576px and up)
md = 768px // Medium devices (tablets, 768px and up)
lg = 992px // Large devices (desktops, 992px and up)
xl = 1200px // Extra large devices (large desktops, 1200px and up)

// Colors
darkGray = hsl(0, 0%, 59%)
veryDarkGray = hsl(0, 0%, 17%)

// Font
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap')
html *
    font-family: 'Rubik', sans-serif

// Weights
fontBold = 700
fontMedium = 500
fontRegular = 400

borderRadius = 1em